* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 100vh;
}

.container {
    box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.596), 5px 5px 13px rgba(0, 0, 0, 0.605);
    width: 300px;
    border-radius: 3px;
    padding: 25px;
}
input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: end;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,60px);
    gap: 4px;
}
.btn{
    cursor: pointer;
}
.equal{
    grid-column: span 2;
}